bin
build
target
test-output
work
.checkstyle
.classpath
.gradle
.project
.settings
.springBeans
*.class
*.MF
*.iml
*.ipr
*.iws
/.rup/
/out/
*.epoch
*.lck
*.log

.idea

esdoc-output

classes

*.txt
*.db

activemq-data
java-cloud-rest-api/activemq-data